<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Upload Result</title>
   </head>
   
   <body>
      <th:block th:include="/menu"></th:block>
      
      Description: <span th:utext="${description}"></span>
      <br/>
      <h3>Fichier en entrée:</h3>
      <ul th:each="file : ${dataIn}">
         <li th:utext="${file}"></li>  
      </ul>
      <h3>Fichier en sortie:</h3>
      <ul th:each="file : ${dataOut}">
         <li th:utext="${file}"></li>  
      </ul>
      <h3>Erreur:</h3>
      <ul th:each="file : ${ex}">
         <li th:utext="${file}"></li>  
      </ul>
      
   </body>
   
</html>